<h1>Hello, Movie</h1>

<table class="table">
  <tr>
    <td>Title</td>
    <td>Describe</td>
  </tr>
  <% if @movies.empty? %>
  <tr>
    <td colspan="3">No Data!</td>
  </tr>
  <% end %>
  <% @movies.each do |movie| %>
    <tr>
      <td>
      <%= link_to(movie.title, movie_path(movie)) %>
      <td><%= movie.describe %></td>
    </tr>
  <% end %>
</table>